# All editor-backups
*~

# Python-compiled files
*.pyc

# Build dirs
/.pybuild
/bhindex.egg-info
/dist

# Default db-name and my.config
/bhindex.db
/bhindex.sqlite*
/bhindex.conf

# Ignore test-directory for links
/bhlinks

# Python coverage
/.coverage
/cover
