[DB]
file=bhindex.db

[BITHORDE]
# bindir is prepended to path if it is specified
# bindir = ~/bithorde/bin
fusedir = /tmp/bhfuse
unixsocket = /tmp/bithorde/

[LINKSEXPORT]
linksdir = /tmp/bhlinks

[TXTSYNC]
exportpath = /var/www/bhindex.txt
imports = master

[txt_master]
url = http://localhost/bhindex.txt
