[DB]
file=bhindex.db

[BITHORDE]
# bindir is prepended to path if it is specified
# bindir = ~/bithorde/bin
fusedir = /tmp/bhfuse
unixsocket = /tmp/bithorde
# the amount of parallel queries to send to BitHorde
pressure = 10

[LINKSEXPORT]
linksdir = /tmp/bhlinks

[TXTSYNC]
exportpath = /var/www/bhindex.json
imports = master

[txt_master]
format = json
url = http://localhost/bhindex.json
