[DB]
file=bhindex.db

[BITHORDE]
# bindir is prepended to path if it is specified
# bindir = ~/bithorde/bin

# Where is bhfuse mounted? / What prefix should be used for symlinks?
fusedir = /tmp/bhfuse

# Where can we connect to BitHorde?
unixsocket = /tmp/bithorde

# the amount of parallel queries to send to BitHorde
pressure = 10

[LINKSEXPORT]
# To where should export_links publish the link-archive?
linksdir = /tmp/bhlinks

[TXTSYNC]
# To where should export_txt publish it's file?
exportpath = /var/www/bhindex.json

# List the imports that should be used by import_txt
imports = master

[txt_master]
# Format is usually json, or magnetlist for backwards-compatibility.
format = json
url = http://localhost/bhindex.json
