Source: bhindex
Maintainer: Ulrik Mikaelsson <ulrik.mikaelsson@gmail.com>
Homepage: https://github.com/rawler/bhindex/
Section: python
X-Python-Version: >= 2.6
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-systemd,
               dh-apport,
               dh-python,
               python-all (>= 2.6.6),
               python-docutils,
               python-setuptools,
Standards-Version: 3.9.6

Package: bhindex
Replaces: python-bhindex
Conflicts: python-bhindex
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Proof-of-concept Metadata-system on top of BitHorde
 BHIndex serves as a testing-framework and proof-of-concept system for BitHorde,
 enabling a generic database for asset-metadata. Data can be altered and
 synchronized between nodes. The database are schemaless, with a simple
 filesystem implemented on top.
